.container { }


.home-description {
  padding: 0 0 0 1em;
}

.auto-margin {
  width: 100%;
  height: 100%;
  margin: auto;
}

.image-gallery {
  width: 100%;
  height: 100%;
}

.main-part {
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-header {
  margin-top: 0;
}

/* ----------------------- */
/* Sidebar section */
/* ----------------------- */

.affix-top,.affix{
	position: static;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
  	margin-top:30px;
  	width:228px;
  }

  #sidebar.affix {
    position: fixed;
  }
}

/* ----------------------- */
/* Map section */
/* ----------------------- */

.map {
    position: relative;
    margin:auto;
    height: 30em;
}

.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
