
.home-description {
  padding: 0 0 0 1em;
}

.auto-margin {
  width: 100%;
  height: 100%;
  margin: auto;
}

.image-gallery {
  width: 100%;
  height: 100%;
}

body {
  padding-bottom: 200px;
}

.list-group-item:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .carousel-control-1 .glyphicon-chevron-left,
  .carousel-control-1 .glyphicon-chevron-right,
  .carousel-control-1 .icon-prev,
  .carousel-control-1 .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px;
  }
  .carousel-control-1 .glyphicon-chevron-left,
  .carousel-control-1 .icon-prev {
    margin-left: -15px;
  }
  .carousel-control-1 .glyphicon-chevron-right,
  .carousel-control-1 .icon-next {
    margin-right: -15px;
  }
}
.carousel-control-1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #000000;
  text-align: center;
}
.carousel-control-1.left {
}
.carousel-control-1.right {
  right: 0;
  left: auto;
}
.carousel-control-1:hover,
.carousel-control-1:focus {
  color: #000000;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .5;
}
.carousel-control-1 .icon-prev,
.carousel-control-1 .icon-next,
.carousel-control-1 .glyphicon-chevron-left,
.carousel-control-1 .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
.carousel-control-1 .icon-prev,
.carousel-control-1 .glyphicon-chevron-left {
  left: 50%;
  margin-left: -10px;
}
.carousel-control-1 .icon-next,
.carousel-control-1 .glyphicon-chevron-right {
  right: 50%;
  margin-right: -10px;
}
.carousel-control-1 .icon-prev,
.carousel-control-1 .icon-next {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  font-family: serif;
}
.carousel-control-1 .icon-prev:before {
  content: '\2039';
}
.carousel-control-1 .icon-next:before {
  content: '\203a';
}


.main-part {
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-header {
  margin-top: 0;
}

.btn-catalog-download {
  margin: 15px 30px;
  display: block;
}

.navbar-logo {
  float: left;
  vertical-align: middle;
  height: 32px;
  width: 40px;
  margin-top: 10px;
}

.product-lines {
  margin: 0px 10px;
  padding: 0px;
}

/* ----------------------- */
/* Sidebar section */
/* ----------------------- */

.affix-top,.affix{
	position: static;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
  	margin-top:30px;
  	width:228px;
  }

  #sidebar.affix {
    position: fixed;
  }
}

/* ----------------------- */
/* Hide */
/* ----------------------- */

@media (max-width: 768px) {
  .big-device {
    display: none;
  }
}

@media (min-width: 768px) {
  .small-device {
    display: none;
  }
}

@media (max-width: 1000px) {
  .big-device-brand {
    display: none;
  }
}

@media (min-width: 1000px) {
  .small-device-brand {
    display: none;
  }
}

/* ----------------------- */
/* Map section */
/* ----------------------- */

.map {
    position: relative;
    margin:auto;
    height: 30em;
}

.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
