<div class="nav navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <p class="navbar-text pull-left">
      <i class="fa fa-clipboard fa-lg"></i>
      {{company.name}}
      <i class="fa fa-phone"></i> {{company.phone}}
      <a href="mailto:{{company.emailAddress}}"><i class="fa fa-envelope"></i> {{company.emailAddress}}</a>
    </p>
    <p class="navbar-text pull-right">
      Copyright &#169; 2014
      <a href="http://github.com/moliva" target="_blank"><i class="fa fa-github fa-lg"></i></a>
    </p>
  </div>
</div>
