<div class="jumbotron">
  <div class="container row">
    <div class="col-md-7"><img class="img-rounded" src="http://prgabres.com/pruebaa001006.jpg" ></img></div>
    <div class="col-md-5">
      <div class="home-description">
        <p class="text-justify"><strong>Plásticos Reforzados GABRES</strong>, es una empresa dedicada a la fabricación de productos en poliester reforzado con fibras de vidrio, especializada en Depósitos para almacenamiento de líquidos y  para tratamiento de Aguas.</p>
        <p class="text-justify">También realizamos trabajos de revestimiento e impermeabilización y piezas para las industrias náutica,  autopartes y de la construcción.</p>
        <div class="text-center">
          <a class="btn btn-default" href="#products">¡Conoce nuestros productos!</a>
          <a class="btn btn-info" href="#contact">¡Contáctanos!</a>
        </div>
      </div>
    </div>
  </div>
</div>
