<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Información de Contacto</h3>
      </div>
      <div class="panel-body">
        <address>
          <h5>Fábrica</h5>
          <p>Finca La Ramona, 144 - Polígono "C"</p>
          <p>(03114)  BACAROT - ALICANTE</p>
        </address>
        <address>
          <h5>Dirección Postal</h5>
          <p>Apartado de Correo 5254</p>
          <p>(03080)  ALICANTE</p>
        </address>
        <p><i class="fa fa-phone"></i> 965 105 963</p>
        <p><a href="mailto:info@prgabres.com"><i class="fa fa-envelope"></i> info@prgabres.com</a></p>
        <button class="btn btn-primary" ng-click="contactCtrl.openDialog()" >Enviar mensaje</button>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Dónde estamos</h3>
      </div>
      <div class="panel-body">
      </div>
  </div>
</div>
