<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Información de Contacto</h3>
    </div>
    <div class="panel-body">
      <h5><i class="fa fa-inbox"></i> Dirección Postal</h5>
      <div class="container">
        <p>{{company.postalAddress.street}}</p>
        <p>{{company.postalAddress.city}}</p>
      </div>
      <p><i class="fa fa-phone"></i> {{company.phone}}</p>
      <p><a href="mailto:{{company.emailAddress}}"><i class="fa fa-envelope"></i> {{company.emailAddress}}</a></p>
      <button class="btn btn-primary" ng-click="contactCtrl.openDialog()">Enviar mensaje</button>
    </div>
  </div>
</div>
