<div class="col-lg-4">
  <h3>Información de Contacto</h3>
  <address>
    <h5>Fábrica</h5>
    <p>Finca La Ramona, 144 - Polígono "C"</p>
    <p>(03114)  BACAROT - ALICANTE</p>
  </address>
  <address>
    <h5>Dirección Postal</h5>
    <p>Apartado de Correo 5254</p>
    <p>(03080)  ALICANTE</p>
  </address>
  <i class="fa fa-phone"></i> 965 105 963
  <a href="mailto:info@prgabres.com"><i class="fa fa-envelope"></i> info@prgabres.com</a>
  <button class="btn btn-primary" ng-click="contactCtrl.openDialog()" >Enviar mensaje</button>
</div>
<div class="col-lg-8">
  <h3>Dónde estamos</h3>
</div>
