<div class="nav navbar-inverse navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand">Plásticos Reforzados Gabres S.L. <i class="fa fa-home fa-fw"></i></a>
    <menu-bar></menu-bar>
  </div>
</div>
<!-- duplicates the above navbar with a static-top style so that the same space is left before the content -->
<div class="nav navbar-inverse navbar-static-top">
  <div class="container">
    <a class="navbar-brand">Plásticos Reforzados Gabres S.L. <i class="fa fa-home fa-fw"></i></a>
    <menu-bar></menu-bar>
  </div>
</div>
