<button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</button>
<div class="collapse navbar-collapse navHeaderCollapse" collapse="isCollapsed">
  <ul class="nav navbar-nav navbar-right nav-pills">
    <li ng-repeat="item in menu.items" ng-class="{ active: menu.isActive(item.path) }" dropdown>
      <a ng-show="menu.shouldShowSubitems(item)" href="{{menu.pathFor(item)}}"
        target="{{menu.targetFor(item)}}" class="dropdown-toggle">
          {{item.name}} <span class="caret"></span></a>
      <ul ng-show="menu.shouldShowSubitems(item)" class="dropdown-menu" >
        <li ng-repeat="subitem in item.subitems">
          <a href="{{menu.pathFor(subitem)}}" target="{{menu.targetFor(item)}}">{{subitem.name}}</a>
        </li>
      </ul>
      <a ng-hide="menu.shouldShowSubitems(item)" href="{{menu.pathFor(item)}}"
        target="{{menu.targetFor(item)}}">{{item.name}}</a>
    </li>
  </ul>
</div>
