<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{line.name}}</h3>
  </div>
  <div class="panel-body">
    <div class="col-md-8 text-center">
      <p class="text-justify">{{line.description}}</p>
      <div class="image-gallery">
        <carousel interval="5000">
          <slide ng-repeat="image in line.images" active="image.active">
            <img ng-src="{{image.url}}" style="margin:auto;">
          </slide>
        </carousel>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="list-group">
        <a class="list-group-item" ng-repeat="product in line.products" ng-click="lineCtrl.open(product)">
          <h5 class="list-group-item-heading">{{product.name}}</h5>
        </a>
      </div>
    </div>
  </div>
</div>
