<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-dot-circle-o"></i> {{line.name}}</h3>
  </div>
  <div class="panel-body">
    <div class="text-center" ng-class="{ 'col-md-8': lineCtrl.hasProducts(line) }">
      <p class="text-justify">{{line.description}}</p>
      <content template="{{line.content}}"></content>
      <div>
        <carousel interval="5000">
          <slide ng-repeat="image in line.images" active="image.active">
            <img class="img-rounded" ng-src="{{image.url}}" style="margin:auto;">
          </slide>
        </carousel>
      </div>
    </div>
    <div class="text-center" ng-class="{ 'col-md-4': lineCtrl.hasProducts(line) }">
      <div class="list-group">
        <a class="list-group-item" ng-repeat="product in line.products" ng-click="lineCtrl.open(product)">
          <h5 class="list-group-item-heading">{{product.name}}</h5>
        </a>
      </div>
    </div>
  </div>
</div>
