<div class="modal-header">
  <h4 class="modal-title">{{product.name}}
    <i ng-show="product.isMountable" class="text-info fa fa-exclamation-circle" popover="¡También se montan en obra!" popover-trigger="mouseenter"></i>
  </h4>
</div>
<div class="modal-body">
  <p>{{product.description}}</p>
  <div class="image-gallery">
    <carousel interval="5000">
      <slide ng-repeat="image in product.images" active="image.active">
        <img class="img-rounded" ng-src="{{image.url}}" style="margin:auto;">
      </slide>
    </carousel>
  </div>
  <h5 ng-show="product.characteristics">Características</h5>
  <ul>
    <li ng-repeat="characteristic in product.characteristics">
      {{characteristic}}
    </li>
  </ul>
  <h5 ng-show="product.accessories">Accesorios incluídos</h5>
  <ul>
    <li ng-repeat="accessory in product.accessories">
      {{accessory}}
    </li>
  </ul>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="cancel()">Cerrar</button>
</div>
