<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-check-square-o"></i> {{line.name}}</h3>
  </div>
  <div class="panel-body">
    <div class="text-center" ng-class="{ 'col-md-8': lineCtrl.hasProducts(line) }">
      <p class="text-justify">{{line.description}}</p>
      <content template="{{line.content}}"></content>
      <div style="margin-bottom: 10px;">
        <carousel interval="5000">
          <slide ng-repeat="image in line.images" active="image.active">
            <img class="img-rounded" ng-src="{{image.url}}" style="min-height: 300px; max-height: 300px; margin:0 auto;">
          </slide>
        </carousel>
      </div>
    </div>
    <div class="text-center" ng-class="{ 'col-md-4': lineCtrl.hasProducts(line) }">
      <div class="list-group">
        <a class="list-group-item" ng-repeat="product in line.products" ng-click="lineCtrl.open(product)">
	  <span class="pull-right"><i class="fa fa-hand-o-up text-primary" ></i></span>
          <h5 class="list-group-item-heading">{{product.name}}</h5>
        </a>
      </div>
    </div>
  </div>
</div>
