
.home-description {
  padding: 0 0 0 1em;
}

.auto-margin {
  width: 100%;
  height: 100%;
  margin: auto;
}

.image-gallery {
  width: 100%;
  height: 100%;
}

.main-part {
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-header {
  margin-top: 0;
}

.btn-catalog-download {
  margin: 15px 30px;
  display: block;
}

.navbar-logo {
  float: left;
  vertical-align: middle;
  height: 32px;
  width: 40px;
  margin-top: 10px;
}

.product-lines {
  margin: 0px 10px;
  padding: 0px;
}

/* ----------------------- */
/* Sidebar section */
/* ----------------------- */

.affix-top,.affix{
	position: static;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
  	margin-top:30px;
  	width:228px;
  }

  #sidebar.affix {
    position: fixed;
  }
}

/* ----------------------- */
/* Hide */
/* ----------------------- */

@media (max-width: 768px) {
  .big-device {
    display: none;
  }
}

@media (min-width: 768px) {
  .small-device {
    display: none;
  }
}

@media (max-width: 1000px) {
  .big-device-brand {
    display: none;
  }
}

@media (min-width: 1000px) {
  .small-device-brand {
    display: none;
  }
}

/* ----------------------- */
/* Map section */
/* ----------------------- */

.map {
    position: relative;
    margin:auto;
    height: 30em;
}

.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
