body {
  // background: #f0f0f0 image_url('refinery/mosaic.jpg') repeat;
  background: #E0F8F7;
  font-family: arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  
  margin: 0;
  padding: 0;
  padding-top: 20px;
  text-align: center;
}

#page_container {
  background: #dddddd;
  width: 1200px;
  text-align: left;
  border-style: solid;
  border-width: 2px;
  margin: 0 auto;
} 

#body_content_title {
  visibility: hidden;
}

#page {
  padding: 20px 20px 20px 20px;  
}

#logo a:link, #logo a:visited {
  padding-left: 20px;
  padding-right: 20px;
  color: black;
  
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  word-spacing: 20px;
  font-family: Arial, sans-serif;
}

#logo {
  background: image_url('refinery/banner.png') transparent no-repeat;
  background-size: 15%;
  
  margin: 0 auto;
  line-height: 130px;
  padding: 0px 0px 0px 0px;
}

#logo a:link {
  padding-left: 150px;
}

#header {
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9a9a9', endColorstr='rgba(200, 200, 200, 0)'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#a9a9a9), to(rgba(200, 200, 200, 0))); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #a9a9a9,  rgba(200, 200, 200, 0)); /* for firefox 3.6+ */
}

footer {
  padding: 10px 20px 20px 20px;
  
  text-align: center;

  font-family: Arial, sans-serif;

  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(200, 200, 200, 0)', endColorstr='#a9a9a9'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(200, 200, 200, 0)), to(#a9a9a9)); /* for webkit browsers */
  background: -moz-linear-gradient(top, rgba(200, 200, 200, 0), #a9a9a9); /* for firefox 3.6+ */
}

#menu {
  margin: 0 auto;
  padding: 0px 0px 3px 0px;
  line-height: 100%;
  width: 95%;
  border-radius: 2em;

  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);

  background: #8b8b8b; /* for non-css3 browsers */
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9a9a9', endColorstr='#7a7a7a'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#a9a9a9), to(#7a7a7a)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #a9a9a9,  #7a7a7a); /* for firefox 3.6+ */

  border: solid 1px #6d6d6d;
  
  font-family: Arial, "sans-serif";
}

#menu ul li {
  margin: 0 5px;
  padding: 0 0 8px;
  float: left;
  position: relative;
  list-style: none;
}
/* main level link */
#menu ul li a {
  font-weight: bold;
  color: #e7e5e5;
  text-decoration: none;
  display: block;
  padding:  8px 20px;
  margin: 0;
  -webkit-border-radius: 1.6em;
  -moz-border-radius: 1.6em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

/* main level link hover */
#menu ul li.selected a, #menu ul li:hover > a {
  background: #d1d1d1; /* for non-css3 browsers */
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#a1a1a1'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#a1a1a1)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #ebebeb,  #a1a1a1); /* for firefox 3.6+ */

  color: #444;
  border-top: solid 1px #f8f8f8;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
}

#menu ul li:hover > a {
  color: #ffffff;
}

/* sub levels link hover */
#menu ul ul li:hover a, #menu ul li:hover li a {
  background: none;
  border: none;
  color: #666;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

#menu ul ul a:hover {
  background: #0399d4 !important; /* for non-css3 browsers */
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#04acec', endColorstr='#0186ba'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba)) !important; /* for webkit browsers */
  background: -moz-linear-gradient(top,  #04acec,  #0186ba) !important; /* for firefox 3.6+ */
 
  display:block;

  color: #fff !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

/* level 2 list */
#menu ul ul {
  background: #ddd; /* for non-css3 browsers */
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cfcfcf'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cfcfcf)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #fff,  #cfcfcf); /* for firefox 3.6+ */

  display: none;
  margin: 0;
  padding: 0;
  width: 185px;
  position: absolute;
  top: 35px;
  left: 0;
  border: solid 1px #b4b4b4;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

/* dropdown */
#menu ul li:hover > ul {
  display: block;
}
#menu ul ul li {
  float: none;
  margin: 0;
  padding: 0;
}
#menu ul ul a {
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(255, 255, 255, .9);
}

/* level 3+ list */
#menu ul ul ul {
  left: 181px;
  top: -3px;
}

/* rounded corners for first and last child */
#menu ul ul li.first > a {
  -webkit-border-top-left-radius: 9px;
  -moz-border-radius-topleft: 9px;
  -webkit-border-top-right-radius: 9px;
  -moz-border-radius-topright: 9px;
}
#menu ul ul li.last > a {
  -webkit-border-bottom-left-radius: 9px;
  -moz-border-radius-bottomleft: 9px;
  -webkit-border-bottom-right-radius: 9px;
  -moz-border-radius-bottomright: 9px;
}

/* clearfix */
#menu:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.img {
  -webkit-transform:scale(0.8);
  float:left;
  -webkit-transition-duration: 0.5s;
}
.img a img {
  padding:10px;
  border:1px solid #fff;
}
.img:hover {
  -webkit-transform:scale(1);
  -webkit-box-shadow:0px 0px 30px #ccc;
}
.img .mask {
  width: 100%;
  background-color: rgb(0, 0, 0);
  position: absolute;
  height: 100%;
  opacity: 0.3;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
}

.img:hover .mask {
  height: 0%;
  margin-top:130px;
}

#gallery {
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
}

#gallery li {
    /* In order to create the proper effect with hover we should use display inline-table
        This will display the big picture right next to its thumbnail
    */
    list-style:none; 
    display:inline-table; 
    padding:10px;
}